.section {
  padding: 5%;
}
.main {
  z-index: 1;
  top: 0;
  right: 0;
  left: 0;
  width: auto;
  height: auto;
  position: absolute;
  margin-top: 25em;
  background-color: #fff;
}
.opener {
  z-index: 0;
  top: 0;
  right: 0;
  left: 0;
  width: auto;
  height: auto;
  bottom: 0;
  position: fixed;
  text-align: center;
  padding-top: 5em;
  background-color: #2f4193;
}
.panel {
  background-color: rgba(0,0,0,0.9);
  color: #fff;
  padding: 5%;
  border-radius: 3px;
}
