layer()
  z-index arguments
  top 0
  right 0
  bottom 0
  left 0
  width auto
  height auto

.main
  layer 1
  position absolute
  margin-top 15em

.opener
  layer 0
  position fixed
  text-align center
  padding-top 5em
  background-color rgb(47, 65, 147)