*
  font-family "museo-slab", serif

layer()
  z-index arguments
  top 0
  right 0
  left 0
  width auto
  height auto

.section
  padding 5%

.main
  box-shadow 0px 0px 25px rgba(0, 0, 0, 0.5);
  layer 1
  position absolute
  margin-top 25em
  margin-bottom 5em
  background-color white

.opener
  layer 0
  bottom 0
  position fixed
  text-align center
  padding-top 5em
  background-color rgb(47, 65, 147)

.footer
  position absolute
  bottom 0
  left 0
  right 0
  margin-bottom 1em
  color rgb(47, 65, 147) - 40%

.panel
  background-color rgba(0, 0, 0, 0.9)
  color white
  padding 5%

.band
  margin  5%
  background-color white
  background-position center
  background-repeat no-repeat
  background-size cover
  transition: all 200ms ease-in 1000ms
  &:hover
    transition: all 200ms ease-in 0ms

.student
  min-height 8em
  &:hover
    min-height 12em

.headliner
  min-height 25em
  &:hover
    min-height 29em

.time
  position relative
  top -5px
  left -5px
  background-color black
  color white
  padding 10px
  display inline

.headliner > .time
  font-size 2em

.headliner > .name
  font-size 3em

.name
  position relative
  left -5px
  top 20px
  background-color black
  color white
  padding 10px
  display inline

.clear
  clear both
  display block
  content ""
  width 100%