* {
  font-family: "museo-slab", serif;
}
.section {
  padding: 5%;
}
.main {
  box-shadow: 0px 0px 25px rgba(0,0,0,0.5);
  z-index: 1;
  top: 0;
  right: 0;
  left: 0;
  width: auto;
  height: auto;
  position: absolute;
  margin-top: 25em;
  margin-bottom: 5em;
  background-color: #fff;
}
.opener {
  z-index: 0;
  top: 0;
  right: 0;
  left: 0;
  width: auto;
  height: auto;
  bottom: 0;
  position: fixed;
  text-align: center;
  padding-top: 5em;
  background-color: #2f4193;
}
.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin-bottom: 1em;
  color: #1c2758;
}
.panel {
  background-color: rgba(0,0,0,0.9);
  color: #fff;
  padding: 5%;
}
.band {
  margin: 5%;
  background-color: #fff;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  transition: all 200ms ease-in 1000ms;
}
.band:hover {
  transition: all 200ms ease-in 0ms;
}
.student {
  min-height: 8em;
}
.student:hover {
  min-height: 12em;
}
.headliner {
  min-height: 25em;
}
.headliner:hover {
  min-height: 29em;
}
.time {
  position: relative;
  top: -5px;
  left: -5px;
  background-color: #000;
  color: #fff;
  padding: 10px;
  display: inline;
}
.headliner > .time {
  font-size: 2em;
}
.headliner > .name {
  font-size: 3em;
}
.name {
  position: relative;
  left: -5px;
  top: 20px;
  background-color: #000;
  color: #fff;
  padding: 10px;
  display: inline;
}
.clear {
  clear: both;
  display: block;
  content: "";
  width: 100%;
}
