layer()
  z-index arguments
  top 0
  right 0
  left 0
  width auto
  height auto

.section
  padding 5%

.main
  layer 1
  position absolute
  margin-top 25em
  background-color white

.opener
  layer 0
  bottom 0
  position fixed
  text-align center
  padding-top 5em
  background-color rgb(47, 65, 147)

.panel
  background-color rgba(0, 0, 0, 0.9)
  color white
  padding 5%
  border-radius 3px